# 授权
# AccessKey/SecretKey方式
AccessKey=
SecretKey=
# User/Passwd方式
User=
Passwd=
# 默认Bucket
Bucket=
# 图片地址前缀(example.clouddn.com)
URL_Prefix=
# 是否自动压缩图片(Y/N)
AUTO_COMPRESS=Y
# 图片压缩质量
QUALITY=80
# 临时文件目录
TMP_DIR=/tmp/lpic
# 是否自动将图片URL复制到剪贴板(Y/N)
AUTO_COPY=Y
